    html {
        font-family: sans-serif;
    }
    
    @media (max-width: 576px) {
        html {
            font-size: 0.8rem;
        }
        #questionspage {
            font-size: 1.2rem;
        }
    }
    
    #choice {
        font-family: sans-serif;
    }
    /* #carouselExampleControls {} */